RITHMIC_HOST=your_rithmic_host_here
RITHMIC_PORT=64100
RITHMIC_USER=your_username
RITHMIC_PASS=your_password
RITHMIC_GOLD_SYMBOL=GC
RITHMIC_SYSTEM_NAME=math_trading_v2
RITHMIC_APP_NAME=v2
RITHMIC_APP_VERSION=1.0.0
